name: MacOS Build for GNU Emacs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Uninstall Homebrew
        run: |
          curl -O https://raw.githubusercontent.com/Homebrew/install/HEAD/uninstall.sh
          sudo chmod +x uninstall.sh
          sudo env NONINTERACTIVE=1 ./uninstall.sh
          sudo rm -rf /opt/homebrew
          export PATH=''
          eval $(/usr/libexec/path_helper -s)
      - name: Install GNU M4
        run: |
          curl -O https://ftp.gnu.org/gnu/m4/m4-1.4.20.tar.gz
          tar -zxf m4-1.4.20.tar.gz && cd m4-1.4.20
          ./configure && make -j4
          sudo make install
      - name: Install GNU Autoconf
        run: |
          curl -O https://ftp.gnu.org/gnu/autoconf/autoconf-2.72.tar.gz
          tar -zxf autoconf-2.72.tar.gz && cd autoconf-2.72
          ./configure && make -j4
          sudo make install
      - name: Install GNU Automake
        run: |
          curl -O https://ftp.gnu.org/gnu/automake/automake-1.18.tar.gz
          tar -zxf automake-1.18.tar.gz && cd automake-1.18
          ./configure && make -j4
          sudo make install
      - name: Install Pkgconf
        run: |
          curl -O https://distfiles.ariadne.space/pkgconf/pkgconf-2.5.1.tar.gz
          tar -zxf pkgconf-2.5.1.tar.gz && cd pkgconf-2.5.1
          ./configure --disable-shared && make -j4
          sudo make install
          sudo ln -s /usr/local/bin/pkgconf /usr/local/bin/pkg-config
      - name: Install GNU Libtool
        run: |
          curl -O https://ftp.gnu.org/gnu/libtool/libtool-2.5.4.tar.gz
          tar -zxf libtool-2.5.4.tar.gz && cd libtool-2.5.4
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install GNU Texinfo
        run: |
          curl -O https://ftp.gnu.org/gnu/texinfo/texinfo-7.2.tar.gz
          tar -zxf texinfo-7.2.tar.gz && cd texinfo-7.2
          ./configure && make -j4
          sudo make install
      - name: Install GNU Libiconv
        run: |
          curl -O https://ftp.gnu.org/gnu/libiconv/libiconv-1.18.tar.gz
          tar -zxf libiconv-1.18.tar.gz && cd libiconv-1.18
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install GNU Libunistring
        run: |
          curl -O https://ftp.gnu.org/gnu/libunistring/libunistring-1.4.1.tar.gz
          tar -zxf libunistring-1.4.1.tar.gz && cd libunistring-1.4.1
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install GNU Gettext
        run: |
          curl -O https://ftp.gnu.org/gnu/gettext/gettext-0.26.tar.gz
          tar -zxf gettext-0.26.tar.gz && cd gettext-0.26
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install GNU Ncurses
        run: |
          curl -O https://ftp.gnu.org/gnu/ncurses/ncurses-6.5.tar.gz
          tar -zxf ncurses-6.5.tar.gz && cd ncurses-6.5
          ./configure --disable-shared && make -j4
          sudo make install
          sudo ln -s /usr/local/include/ncursesw/curses.h /usr/local/include/ncurses.h
      - name: Install Zlib
        run: |
          curl -O https://www.zlib.net/zlib-1.3.1.tar.gz
          tar -zxf zlib-1.3.1.tar.gz && cd zlib-1.3.1
          ./configure --static && make -j4
          sudo make install
      - name: Install Libxml2
        run: |
          curl -O https://download.gnome.org/sources/libxml2/2.9/libxml2-2.9.9.tar.xz
          tar -Jxf libxml2-2.9.9.tar.xz && cd libxml2-2.9.9
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install GNU Libgmp
        run: |
          curl -O https://ftp.gnu.org/gnu/gmp/gmp-6.3.0.tar.gz
          tar -zxf gmp-6.3.0.tar.gz && cd gmp-6.3.0
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install Libnettle
        run: |
          curl -O https://ftp.gnu.org/gnu/nettle/nettle-3.10.2.tar.gz
          tar -zxf nettle-3.10.2.tar.gz && cd nettle-3.10.2
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install Libidn2
        run: |
          curl -O https://ftp.gnu.org/gnu/libidn/libidn2-2.3.8.tar.gz
          tar -zxf libidn2-2.3.8.tar.gz && cd libidn2-2.3.8
          ./configure --disable-shared && make -j4
          sudo make install
      - name: Install GnuTLS
        run: |
          curl -O https://www.gnupg.org/ftp/gcrypt/gnutls/v3.8/gnutls-3.8.11.tar.xz
          tar -Jxf gnutls-3.8.11.tar.xz && cd gnutls-3.8.11
          ./configure --disable-shared --with-included-libtasn1 --without-p11-kit && make -j4
          sudo make install
      - name: Install Libtreesitter
        run: |
          curl -LO https://github.com/tree-sitter/tree-sitter/archive/refs/tags/v0.25.10.tar.gz
          tar -zxf v0.25.10.tar.gz && cd tree-sitter-0.25.10
          make -j4
          sudo make install
          sudo find /usr/local/lib -name 'libtree-sitter*.dylib' -delete
      - name: Install GNU Gzip
        run: |
          curl -O https://ftp.gnu.org/gnu/gzip/gzip-1.14.tar.gz
          tar -zxf gzip-1.14.tar.gz && cd gzip-1.14
          ./configure && make -j4
          sudo make install
      - name: Install Emacs
        run: |
          git clone -b 'feature/igc' --depth 1 https://github.com/emacs-mirror/emacs.git
          cd emacs && sed -i '' '/darwin/ s/lncurses/lncursesw/g' configure.ac
          ./autogen.sh && ./configure CFLAGS='-g0 -O2 -flto=thin'      \
                                      PKG_CONFIG='pkg-config -static'  \
                                      --disable-gc-mark-trace          \
                                      --without-all                    \
                                      --with-compress-install          \
                                      --with-gmp                       \
                                      --with-gnutls                    \
                                      --with-modules                   \
                                      --with-mps                       \
                                      --with-native-image-api          \
                                      --with-ns                        \
                                      --with-small-ja-dic              \
                                      --with-toolkit-scroll-bars       \
                                      --with-tree-sitter               \
                                      --with-xml2                      \
                                      --with-zlib
          make -j4 && make install
          ditto nextstep/Emacs.app Emacs.app
          echo version=$(Emacs.app/Contents/MacOS/Emacs --version | sed -nE 's/^GNU Emacs ([0-9.]+).*/\1/p') >> $GITHUB_ENV
          tar -Jcf Emacs.tar.xz Emacs.app
      - uses: actions/upload-artifact@v4
        with:
          name: Emacs-${{ env.version }}
          path: emacs/Emacs.tar.xz
