name: MacOS Build for GNU Emacs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Install GNU M4
        run: |
          curl -O https://ftp.gnu.org/gnu/m4/m4-1.4.20.tar.gz
          tar -zxf m4-1.4.20.tar.gz && cd m4-1.4.20
          ./configure && make -j4
          sudo make install
      - name: Install GNU Autoconf
        run: |
          curl -O https://ftp.gnu.org/gnu/autoconf/autoconf-2.72.tar.gz
          tar -zxf autoconf-2.72.tar.gz && cd autoconf-2.72
          ./configure && make -j4
          sudo make install
      - name: Install GNU Automake
        run: |
          curl -O https://ftp.gnu.org/gnu/automake/automake-1.18.tar.gz
          tar -zxf automake-1.18.tar.gz && cd automake-1.18
          ./configure && make -j4
          sudo make install
      - name: Install GNU Libtool
        run: |
          curl -O https://ftp.gnu.org/gnu/libtool/libtool-2.5.4.tar.gz
          tar -zxf libtool-2.5.4.tar.gz && cd libtool-2.5.4
          ./configure && make -j4
          sudo make install
      - name: Install GNU Texinfo
        run: |
          curl -O https://ftp.gnu.org/gnu/texinfo/texinfo-7.2.tar.gz
          tar -zxf texinfo-7.2.tar.gz && cd texinfo-7.2
          ./configure && make -j4
          sudo make install
      - name: Install GNU Libiconv
        run: |
          curl -O https://ftp.gnu.org/gnu/libiconv/libiconv-1.18.tar.gz
          tar -zxf libiconv-1.18.tar.gz && cd libiconv-1.18
          ./configure && make -j4
          sudo make install
      - name: Install GNU Ncurses
        run: |
          curl -O https://ftp.gnu.org/gnu/ncurses/ncurses-6.5.tar.gz
          tar -zxf ncurses-6.5.tar.gz && cd ncurses-6.5
          ./configure && make -j4
          sudo make install
      - name: Install Zlib
        run: |
          curl -O https://www.zlib.net/zlib-1.3.1.tar.gz
          tar -zxf zlib-1.3.1.tar.gz && cd zlib-1.3.1
          ./configure && make -j4
          sudo make install
      - name: Install Libxml2
        run: |
          curl -O https://download.gnome.org/sources/libxml2/2.9/libxml2-2.9.9.tar.xz
          tar -Jxf libxml2-2.9.9.tar.xz && cd libxml2-2.9.9
          ./configure && make -j4
          sudo make install
      - name: Install GNU Gettext
        run: |
          curl -O https://ftp.gnu.org/gnu/gettext/gettext-0.26.tar.gz
          tar -zxf gettext-0.26.tar.gz && cd gettext-0.26
          ./configure && make -j4
          sudo make install
      - name: Install GNU Libtasn1
        run: |
          curl -O https://ftp.gnu.org/gnu/libtasn1/libtasn1-4.20.0.tar.gz
          tar -zxf libtasn1-4.20.0.tar.gz && cd libtasn1-4.20.0
          ./configure && make -j4
          sudo make install
      - name: Install Libffi
        run: |
          curl -LO https://github.com/libffi/libffi/releases/download/v3.5.2/libffi-3.5.2.tar.gz
          tar -Jxf libffi-3.5.2.tar.gz && cd libffi-3.5.2
          ./configure && make -j4
          sudo make install
      - name: Install P11-kit
        run: |
          curl -LO https://github.com/p11-glue/p11-kit/releases/download/0.25.10/p11-kit-0.25.10.tar.xz
          tar -Jxf p11-kit-0.25.10.tar.xz && cd p11-kit-0.25.10
          ./configure && make -j4
          sudo make install
